
<div class="container">




<div class="row">
        <!-- <br><br> -->
        <div class="col-lg-8 col-lg-offset-2" style="margin-top:5%">
        <h1 class="text-center">Select Team Member</h1>
        

        <div class="col-lg-3" style="margin-top:5%" ng-repeat='z in ctrl.teamMembers'>
            <br>
                <div >
                    
                        <a ng-click='ctrl.viewMember(z)' class="thumbnail" >
                                <img src="/assets/blankpropic.png"  alt="...">
                                <p> {{z.name}}</p>


                        </a>


                </div>

        </div>

    </div>

</div>


</div>
